.listWrapper{
  display: flex;
  padding: 12px;
  flex-direction: column;
  flex: 1;
}
.textList{
  display: flex;
  padding: 12px 0px;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}
.textList li{
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex: 1;
  position: relative;
}
.textList p{
  color: #000;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.96px;  
  overflow: auto;
  position: absolute;
  inset: 0;
  margin: 2px 6px;
  margin-right: 0;
}
.pagination{
  color: var(--white);
  border: 1px solid var(--white);
  background: var(--purple);  
  border-radius: 4px;
  display: flex;
  flex: 0 0 44px;
  gap: 4px;
}
.pagination button{
  position: relative;
  display: flex;
  flex: 0 0 44px;
  box-sizing: border-box;
}
.pagination button::before{
  background: no-repeat center url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14" height="20" fill="none" xmlns:v="https://vecta.io/nano"%3E%3Cg clip-path="url(%23A)"%3E%3Cpath d="M1.117 9.117a1.25 1.25 0 0 0 0 1.77l7.5 7.5a1.25 1.25 0 1 0 1.77-1.77L3.77 10l6.613-6.617a1.25 1.25 0 1 0-1.77-1.77l-7.5 7.5.004.004z" fill="%23fff"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="A"%3E%3Cpath fill="%23fff" transform="translate(.75)" d="M0 0h12.5v20H0z"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
  content: '';
  inset: 2px;
  position: absolute;
}

.pagination button:nth-child(3){
  transform: rotate(180deg);
}
.pagination ul{
  display: flex;
  flex: 1;  
}
.pagination li{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.pagination a{
  color: var(--white);
  font-size: 16px;
  font-weight: bolder;
  inset: 2px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
}

.pagination a:hover{
  background-color: var(--white);
  color: var(--purple);
}
.pagination a:focus{
  outline: 1px solid var(--gray);
}
.pagination a:active{
  background-color: var(--gray);
}
.pagination button:active::before{
  filter:invert(53%) sepia(10%) saturate(6412%) hue-rotate(217deg) brightness(91%) contrast(103%);
}
.pagination button:active{
  border: 2px solid var(--purple);
  background-color: var(--gray);
  border-radius: 4px;
}
.pagination button:focus::before{
  outline: 1px solid var(--gray);
}
