.listWrapper{
  display: flex;
  padding: 12px;
  flex-direction: column;
  flex: 1;
}
.textList{
  display: flex;
  padding: 12px 0px;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}
.textList li{
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex: 1;
  position: relative;
}
.textList p{
  color: #000;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.96px;  
  overflow: auto;
  position: absolute;
  inset: 0;
  margin: 2px 6px;
  margin-right: 0;
}

