.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    background-color: var(--purple);
    display: flex;
    flex: 0 0 48px;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
}

.shadowLine{
    display: flex;
    height: 4px;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.24) 0%, rgba(255, 255, 255, 0.00) 100%);
}

.hamburgerIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    flex: 0 0 48px;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
}
.hamburgerIcon:focus{
    outline: 1px solid var(--gray);
    height: calc(100% - 4px);
}
.hamburgerIcon:active{
    background-color: var(--white);
}
.hamburgerIcon div{
    width: 26px;
    height: 3px;
    background-color: var(--White, #FFF);
}
.hamburgerIcon:active > div{
    background-color: var(--purple);
}
.pageIndicator{
    display: flex;
    width: 214px;
    justify-content: center;
    align-items: center;
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.96px;    
}
.logo{
    display: flex;
    height: 36px;
    align-items: center;
    flex: 1 0 0;    
}
.nav{
    background-color: #272727;   
    display: none;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;    
    position: absolute;
    left: 0;
    height: calc( 100vh - 56px);
    top: 48px;
    z-index: 1;
}
.nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav a{
    display: flex;
    min-width: 140px;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.96px;
    text-decoration: none;
    padding: 16px 24px;
    padding-left: 20px;
    align-items: center;
}
.nav a:hover , .nav a:focus{
    background-color: var(--white);
    color: var(--purple);
}
.nav a:active{
    background-color: var(--gray);
}
.showNav{
    display: flex;
}